* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}

@mixin flexrow() {
    display: flex;
    flex-direction: row;
}

@mixin flexcol() {
    display: flex;
    flex-direction: column;
}

@mixin button() {
    background: $color-but;
    border: none;
    cursor: pointer;
    padding: 10px 30px;
}

ul {
    list-style-type: none;
}

%font {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

$color-but:#D7B399;
$primary-color:#F9F6F1;

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

header {
    background-color: $primary-color;
    padding-top: 50px;
    position: relative;
}

.navigation {
    @include flexrow();
    justify-content: space-between;

    &__menu {
        @include flexrow();
    }

    &__cart {
        @include flexrow();
        margin-top: -15px;

        a {
            @include flexrow();
        }

    }
}

.polygon {
    @include flexrow();
    margin-left: 10px;
    margin-top: 5px;

    &__svg {
        background-color: $color-but;
        color: white;
        height: 18.8px;
        margin-top: 16.8px;
        padding: 2px 20px 0px 20px;
        font-weight: bold;
        height: 17.8px;

        span {
            margin-top: 5px;
        }
    }
}

.navigation__menu-item {
    padding: 10px;
    @extend %font;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    a {
        color: black;
    }

    img {
        margin-bottom: 1px;
    }
}

.slider {
    background-color: $primary-color;
    padding-top: 120px;
    height: 500px;

    &_main_content {
        @include flexrow();
    }

}

.content-one {
    @include flexcol();
    margin-top: 40px;

    h2 {
        @extend %font;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.02em;
        color: #000000;

        span {
            font-weight: bold;
            font-size: 55px;
            line-height: 90px;
            letter-spacing: 0.04em;
            text-transform: uppercase;

        }
    }

    button {
        @extend %font;
        width: 240px;
        height: 55px;
        color: white;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        background: $color-but;
        border: none;
        margin-top: 50px;
        cursor: pointer;
    }
}

.content-two {
    position: relative;

    &__content {
        position: absolute;
        top: 45px;
        right: 0;

        &_line {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: right;
            letter-spacing: 0.05em;
            text-decoration-line: line-through;
            text-transform: uppercase;
        }

        &_red {
            font-weight: bold;
            font-size: 42px;
            line-height: 51px;
            text-align: right;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #D84033;
        }
    }
}

.delivery {
    background: #212121;
    text-align: center;

    h3 {
        @extend %font;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-transform: uppercase;
        padding-top: 80px;

        span {
            font-weight: bold;
        }
    }

    p {
        @extend %font;
        font-weight: 300;
        font-size: 21px;
        line-height: 26px;
        color: #FFFFFF;
        padding-bottom: 70px;
    }
}

.collection {
    @include flexrow();

    &__man {
        background: $primary-color;
        width: 50%;
        position: relative;
    }

    &__woman {
        background: #F4F4F4;
        width: 50%;
        position: relative;
    }
}

.collection__man_content {
    position: absolute;
    top: 0;
    right: 242px;

    h3 {
        @extend %font;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #000000;
        padding: 60px 0px 15px 0px;
        text-transform: uppercase;

        span {
            font-weight: 600;
        }
    }

    p {
        @extend %font;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    button {
        @include button();
        margin: 20px 0 60px 0;
    }
}

.collection__woman_content {
    padding-left: 35px;

    h3 {
        @extend %font;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #000000;
        padding: 60px 0px 15px 0px;
        text-transform: uppercase;

        span {
            font-weight: 600;
        }
    }

    p {
        @extend %font;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    button {
        @include button();
        margin: 20px 0 60px 0;
    }
}

.man {
    position: absolute;
    right: 0;
    bottom: 0;
}

.woman {
    position: absolute;
    bottom: 0;
    left: 380px;
}

.model {
    text-align: center;

    h3 {
        @extend %font;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 100px 0;
    }

    &__new {
        @include flexrow();
        justify-content: space-between;
        margin-left: 45px;


    }

    &__button {
        @include flexrow();
        @include button();
        color: white;
        @extend %font;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        margin: 100px auto 0 auto;
        text-transform: uppercase;

        img {
            margin-top: 5px;
            margin-left: 5px;
        }

    }
}

.model__new_col {
    @include flexcol();
    border: 2px solid $color-but;
    padding: 10px;
    position: relative;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    // width:210px!important;
    margin: 15px;

    .box2 {
        position: absolute;
        width: 5px;
        height: 287px;
        background-color: #FFF;
        top: 20px;
        left: -3px;
    }

    .box3 {
        position: absolute;
        width: 182px;
        height: 5px;
        background-color: #FFF;
        top: -3px;
        left: 25px;
    }

    .box4 {
        position: absolute;
        width: 5px;
        height: 287px;
        background-color: #FFF;
        top: 20px;
        right: -3px;
    }

    .box5 {
        position: absolute;
        width: 182px;
        height: 5px;
        background-color: #FFF;
        bottom: -3px;
        left: 25px;
    }

    &-item {
        @extend %font;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 25px 0 15px 0;
    }

    &-price {
        @extend %font;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #D7B399;
    }

    img {
        width: 213px;
        height: 211px;
        margin: 0 auto;
    }
}

.arrow {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    z-index: 4;
    width: 30px;
    height: 30px;
    border: none;
    background-size: 100%;
    background: none;
}

.arrow--prev {
    left: -39px;
    transform: translateY(-50%) rotate(180deg);
    background: url(../img/right-arrow.png) center no-repeat / cover;
}

.arrow--next {
    right: -20px;
    background: url(../img/right-arrow.png) center no-repeat / cover;
}

.newsletter {
    background: #212121;
    margin-top: 150px;

    .container {
        @include flexrow();
        padding: 70px 20px;

        h3 {
            @extend %font;
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            text-transform: uppercase;
        }

        input[type=email] {
            border: none;
            margin: 0 35px 0 60px;
            text-indent: 15px;
            width: 255px;
        }

        input[type=submit] {
            @extend %font;
            border: none;
            width: 155px;
            background: $color-but;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

.footer {
    background: #212121;
    margin-top: 150px;

    .container {
        @include flexrow();
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.container__item-one {
    @include flexcol();
    width: 20%;

    p {
        @extend %font;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 20px;
    }

    img {
        padding-right: 20px;
    }
}

.container__item-two {
    @include flexrow();
    justify-content: space-between;
    width: 53%;

    &_content {
        @include flexcol();

        .title {
            @extend %font;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            padding-bottom: 20px;
        }

        .link {
            @extend %font;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #CBCFD4;
            text-decoration: none;
            padding-bottom: 10px;
            position: relative;
        }

        .vk::before {
            content: url(../img/vk.svg);
            position: absolute;
            top: 0;
            left: 0;
        }

        .fc::before {
            content: url(../img/facebook.svg);
            position: absolute;
            top: 2px;
            left: 0;
        }

        .in::before {
            content: url(../img/insta.svg);
            position: absolute;
            top: 2px;
            left: 0;
        }
    }

    &_content:last-child {
        .link {
            padding-left: 20px;
        }
    }
}

.tr {
    transform: rotate(180deg);
}

.hide {
    display: none;
}

.opac {
    opacity: 0;
}

%item {
    background: darken(#F4F4F4, 10%);
    width: 130px;
    text-align: left;
    border-radius: 30px;
}

%img {
    transform: rotate(90deg);
    position: absolute;
    top: -15px;
    right: 20px;
}

.item-popup-one,
.item-popup-two,
.item-popup-three {
    @extend %item;

    li {
        padding: 10px;

        a {
            padding-left: 10px;
            color: black;
        }
    }

    img {
        @extend %img
    }
}

.item-popup-one {
    position: absolute;
    top: 87px;
    left: 396px;
}

.item-popup-two {
    position: absolute;
    top: 87px;
    left: 520px;
}

.item-popup-three {
    position: absolute;
    top: 87px;
    left: 638px;
}

.tr1 {
    transform: rotate(-90deg);
}

.tr2 {
    transform: rotate(90deg);
}

.popup_style-man,
.popup_style-child,
.popup_style-woman {
    padding: 5px;
}

.popup_style-man a,
.popup_style-child a,
.popup_style-woman a {
    color: #000;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.5px;

}

.menu__popup {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    height: 50%;
    background: #F4F4F4;
    z-index: 10;
    transition: 0.5s;
    transform: translateY(-100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu__popup_link {
    color: #000;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.5px;
}

.menu__popup_list {
    list-style: none;
    padding: 10px;
}

.menu__popup_item {
    margin: 0 auto;
    text-align: left;
}


.menu__burger {
    position: relative;
    top: 16px;
    display: none;
    float: right;
    width: 50px;
    height: 50px;
    background-color: inherit;
    z-index: 110;
}

.menu__burger span,
.menu__burger span::before,
.menu__burger span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 20px;
    margin-top: -6px;
    margin-left: -10px;
    background: #000;
}

.menu__burger span::before,
.menu__burger span::after {
    content: '';
    display: block;
    transition: 0.4s;
}

.menu__burger span::before {
    transform: translateY(-5px);
}

.menu__burger--active {
    transform: translateY(-45px);
    transition: 0.5s;
}

.menu__burger--active span {
    height: 0;
}

.menu__burger--active span:before {
    transform: rotate(45deg);
}

.menu__burger--active span:after {
    transform: rotate(135deg);
}

.menu__popup.active {
    transform: translateX(0%);
}

.active {
    display: flex;
    transform: scale(1);
    transition-duration: 0.5s;
}

.polygon img {
    margin-right: -1px;
}

@media (max-width:1140px) {
    .model__new_col .box3 {
        position: absolute;
        width: 80%;
        height: 5px;
        background-color: #FFF;
        top: -3px;
        left: 2.5vw;
    }

    .model__new_col .box5 {
        position: absolute;
        width: 80%;
        height: 5px;
        background-color: #FFF;
        bottom: -3px;
        left: 2.5vw;
    }
}

@media (max-width:1120px) {
    .collection__man_content {
        right: 180px;
    }

    .woman {
        left: 330px;
    }

    .newsletter .container input[type=email] {
        margin: 0 35px 0 20px;
        width: 205px;
    }

    .content-one h2 span {
        font-size: 32px;
        line-height: 60px;
    }
}

@media (max-width:1040px) {
    .newsletter .container h3 {
        font-size: 23px;
        line-height: 30px;
    }

}

@media (max-width:987px) {
    .collection__man_content {
        right: 130px;
    }

    .woman {
        left: 285px;
    }

    .container__item-two {
        width: 60%;
    }
}

@media (max-width:900px) {
    .slider {
        padding-top: 20px;
    }

    .collection {
        @include flexcol();

        &__man {
            background: $primary-color;
            width: 100%;
            position: relative;
        }

        &__woman {
            background: #F4F4F4;
            width: 100%;
            position: relative;
        }
    }

    .collection__man_content,
    .collection__woman_content {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        right: 130px;
        padding-left: 0;
    }

    .man {
        right: 20%;
    }

    .woman {
        left: auto;
        right: 20%;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .navigation__menu {
        display: none;
    }

    .content-one h2 span {
        font-size: 32px;
        line-height: 42px;
    }

    .newsletter .container h3 {
        font-size: 23px;
        line-height: 25px;
    }

    .newsletter .container input[type=email],
    .newsletter .container input[type=submit] {
        height: 32px;
    }

    .content-two__content {
        right: 20px;
    }

    .content-two__content {
        position: absolute;
        top: 45px;
        right: 20px;
    }

    .content-one h2 {
        width: 220px;
        line-height: 32px;
    }

    .content-one button {
        width: 170px;
        height: 45px;
    }

    .footer .container {
        @include flexcol();
        align-items: center;
    }

    .container__item-one {
        width: 31%;
    }

    .container__item-two {
        margin-top: 30px;
        width: 90%;
    }
}

@media (max-width:800px) {
    .content-two img {
        width: 90%;
    }

    .slider {
        height: 54vw;
    }

    .content-one h2 span {
        font-size: 5.2vw;
    }

    .content-one h2 {
        font-size: 4vw;
    }

    .content-two__content_line {
        font-size: 3vw;
    }

    .content-two__content_red {
        font-size: 6vw;
    }

    .content-one button {
        margin-top: 3vh;
    }
}

@media (max-width:768px) {
    .model__new_col .box3 {
        position: absolute;
        width: 80%;
        height: 5px;
        background-color: #FFF;
        top: -3px;
        left: 4vw;
    }

    .model__new_col .box5 {
        position: absolute;
        width: 80%;
        height: 5px;
        background-color: #FFF;
        bottom: -3px;
        left: 4vw;
    }

    .model h3 {
        margin: 62px 0;
    }

    .model__button {
        margin: 45px auto 0 auto;
    }

    .newsletter,
    .footer {
        margin-top: 95px;
    }

    .content-two__content {
        right: 1px;
    }
}

@media (max-width:635px) {
    .content-one h2 {
        line-height: 23px;
    }

    .content-one h2 span {
        line-height: 34px;
    }

    .delivery h3 {
        font-size: 4vw;
    }

    .delivery p {
        font-size: 3vw;
    }

    .model__new {
        margin-left: 20px;
    }
}

@media (max-width:600px) {
    .newsletter .container input[type=submit] {
        font-size: 11px;
    }

    .man {
        right: 0%;
    }

    .woman {
        right: 0;
    }

    .collection__man_content,
    .collection__woman_content {
        right: auto;
        left: 2%;
        margin: 0;
    }

    .container__item-two {
        flex-wrap: wrap;
        width: 310px;

        &_content:nth-child(4) {
            margin-right: 30px;
            margin-top: 20px;
        }

        &_content:nth-child(3) {
            margin-top: 20px;
        }
    }

    .content-two__content_line {
        line-height: 3vw;
    }

    .content-two__content_red {
        line-height: 5.8vw;
    }

    .newsletter .container {
        flex-wrap: wrap;

        h3 {
            margin: 0 auto;
            padding-bottom: 30px;
        }

        input[type=email],
        input[type=submit] {
            margin: auto;
        }
    }
}

@media (max-width:520px) {
    .content-two__content {
        top: 31vw;
        display: flex;

        &_line {
            font-size: 6vw;
            line-height: 29px;
        }

        &_red {
            margin-left: 1.5vw;
            line-height: 29px;
        }
    }
}

@media (max-width:480px) {
    .model__new_col .box3 {
        position: absolute;
        width: 80%;
        height: 5px;
        background-color: #FFF;
        top: -3px;
        left: 6.5vw;
    }

    .model__new_col .box5 {
        position: absolute;
        width: 80%;
        height: 5px;
        background-color: #FFF;
        bottom: -3px;
        left: 6.5vw;
    }

    .content-two img {
        width: 220px;
    }

    .content-one {
        width: 39vw;

        h2 {
            width: 39vw;
        }

        button {
            width: 39vw;
        }
    }

    .content-two__content {
        top: 156px;
    }

    .container__item-one {
        width: 75%;
    }

    .slider {
        height: 277px;
    }

    a.cart-svg,
    .polygon {
        display: none;
    }

    .delivery h3 {
        font-size: 6vw;
        padding-top: 45px;
    }

    .delivery p {
        font-size: 4vw;
        padding-bottom: 55px;
    }
}

@media (max-width:430px) {

    // .man, .woman {
    //     height: 39vw;
    // }
    .collection__man_content, .collection__woman_content {
        h3 {
            font-size: 6.5vw;
            padding: 30px 0px 0px 0px;
        }

        p {
            font-size: 4.5vw;
        }

        button {
            margin-bottom: 110px;
        }
    }
    .newsletter .container input[type=submit] {
        width:205px;
        margin-top:10px;
        font-size: 14px;
    }
    .content-two__content {
        right:auto;
        left: 7px;
        &_line, &_red {
            font-size:20px;
        }
    }
    .content-two img {
        width: 160px;
        margin-top: 33px;
    }
    .content-one {
        margin-top:50px;
        button {
            font-size:12px;
            margin-top:5vh;
        }
        h2 span {
            line-height:23px;
        }
    }
}